---
import Accessories from "../components/Accessories.astro";
import FooterMenu from "../components/FooterMenu.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Inicio from "../components/Inicio.astro";
import Catalogo from "../components/Catalogo.astro";
import Contacto from "../components/Contacto.astro";
import PowerWall from "../components/PowerWall.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
---

<Layout title="Gunters - La Tienda de Regalos Perfectos para Cada Ocasión">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Inicio />
    </div>
    <div class="snap-center">
      <About />
    </div>
    <div class="snap-center">
      <Catalogo />
    </div>
    <div class="snap-center">
      <Contacto />
    </div>
    <!-- <div class="snap-center">
      <PowerWall />
    </div>
    <div class="snap-center">
      <Accessories />
    </div> -->
    <div class="snap-center">
     
    </div>
  </main>
  <FooterMenu />
</Layout>
